<!doctype html>
<html>
  <head>
    <title>Belt Reviewer</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login/style.css'}">
    <link rel="stylesheet" type="text/css"
 href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  </head>
  <body>
    <h1>Welcome!</h1>
  <div class="register">
    <h2>Register</h2>
    {% if messages %}
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    {% endif %}
    <form action="/register" method="post">
      {% csrf_token %}
      <label for "name">Name:</label>
      <input type= "text" name= "name">
      <label for "alias">Alias:</label>
      <input type= "text" name= "alias">
      <label for "email">Email:</label>
      <input type= "text" name= "email">
      <label for "password">Password:</label>
      <input type= "password" name= "password">
      <p>*Password should be at least 8 characters
      <label for "confirm_password">Confirm PW:</label>
      <input type= "password" name= "confirm_pw">
      <button class = "submit">Register</button>
    </form>
  </div>
  <div class="login">
    <h2>Login</h2>
    <form action="{% url 'login:login' %}" method="post">
      {% csrf_token %}
      <label for "email">Email:</label>
      <input type= "text" name= "email">
      <label for "password">Password:</label>
      <input type= "password" name= "password">
      <button class = "submit">Login</button>
    </form>
  </div>
  </body>
</html>
