<!doctype html>
<html>
    <head>
        <title>Email Validation</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css')}}">
    <body>
      <h1>Add Email:</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
          {{message}}
        {% endfor %}
        {% endif %}
        {% endwith %}
     <form action="/add" method="post">
      <div class = "email_input">
      <label for="email">Email:</label>
      <input type="text" name="email" id="email">
      </div>
      <button type="submit">Add</button>
    </form>
    </body>
</html>
