<html>
  <head>
  <link rel="stylesheet" type="text/css" href="{{url_for("static", filename= "stylesheet.css")}}">
  <meta charset="UTF-8">
  <title>Registration Form</title>
  </head>

  <body>
    <div class="form">
    <h1>Registration Form</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <h2>{{message}}</h2>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class= "form-group">
     <label for="name">First Name:</label>
      <form action='/process' method='POST'>
      <input type="text" id="name" class="form-control" name="name">
    </div>
    <div class= "form-group">
     <label for="name">Last Name:</label>
      <form action='/process' method='POST'>
      <input type="text" id="name" class="form-control" name="name">
    </div>
    <div class= "form-group">
     <label for="name">Email:</label>
      <form action='/process' method='POST'>
      <input type="text" id="name" class="form-control" name="name">
    </div>
    <div class= "form-group">
     <label for="name">Password:</label>
      <form action='/process' method='POST'>
      <input type="password" id="name" class="form-control" name="name">
    </div>
    <div class= "form-group">
     <label for="name">Confirm Password:</label>
      <form action='/process' method='POST'>
      <input type="password" id="name" class="form-control" name="name">
    </div>
    <div class="form-group">
      <input type='submit' class='button' value='Submit'>
    </div>
   </div>
 </body>
</html>
