<!doctype html>
<html>
  <head>
      <title>Full Friends</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css')}}">
  </head>
  <body>
    <h1>Edit Friend:</h1>
      <form action="/update/{{friend['id']}}" method="POST">

      <label for="first_name">First Name: </label>
      <input type= "text" name="first_name" placeholder="{{friend['first_name']}}">

      <label for="last_name">Last Name: </label>
      <input type= "text" name="last_name" placeholder="{{friend['last_name']}}">

      <label for ="email">Email: </label>
      <input type= "email" name="email" placeholder="{{friend['email']}}">

      <button type="submit">Update</button>
    </form>
  </body>
</html>
