<!doctype html>
<html>
  <head>
      <title>Full Friends</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css')}}">
  </head>
  <body>
    <h1>Edit Friend:</h1>
    {% for friends in all_friends %}

    <form action="/friend/{{friends['id']}}>" method="POST">

      <label for="first_name">First Name: </label>
      <input type= "text" name="first_name">

      <label for="last_name">Last Name: </label>
      <input type= "text" name="last_name">

      <label for ="email">Email: </label>
      <input type= "email" name="email">

      <button type="submit">Update</button>

    </form>
    {% endfor %}
  </body>
</html>
