<!doctype html>
<html>
  <head>
    <title>Login and Registration</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login/style.css'}">
    <link rel="stylesheet" type="text/css"
 href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  </head>
  <body>
  <div class="register">
    <h2>Register</h2>
    {% if messages %}
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    {% endif %}
    <form action="/create" method="post">
      {% csrf_token %}

      <label for "first_name">First Name:</label>
      <input type= "text" name= "first_name">

      <label for "last_name">Last Name:</label>
      <input type= "text" name= "last_name">

      <label for "email">Email:</label>
      <input type= "text" name= "email">

      <label for "password">Password:</label>
      <input type= "password" name= "password">

      <label for "confirm_password">Confirm Password:</label>
      <input type= "password" name= "confirm_password">

      <button class = "submit">Register</button>
    </form>
  </div>
  <div class="login">
    <h2>Login</h2>
    <form action="/login" method="post">
      {% csrf_token %}
      <label for "email">Email:</label>
      <input type= "text" name= "email">
      <label for "password">Password:</label>
      <input type= "password" name= "password">
      <button class = "submit">Login</button>
    </form>
  </div>
  </body>
</html>
