body{
  text-align: center;
  margin-top: 50px;
}
.heading{
  margin-bottom: 75px;
}
h1{
  color: purple;
  margin-bottom: 15px;
}
h3{
  color: green;
  margin: 85px;
  font-size: 32px;
}
h4{
  color: red;
  font-size: 22px;
  margin: 85px;
}
.form{
  margin: 50px;
}
input{
  text-align: center;
  width: 75px;
  margin-top: 0px;
}
