<!doctype html>
<html>
  <head>
    <title>Belt Reveiwer</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'books/style.css'}">
    <link rel="stylesheet" type="text/css"
 href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  </head>
  <body>
    <div class = heading>
      <h3>Welcome, {{ user.name }}!</h3>
      <a href = "/new">Add Book and Review</a>
      <a href = "/logout">Logout</a>
    </div>
    <div class = "recent">
      <h2>Recent Book Reviews:</h2>
    </div>
    <div class = "others">
      <h2>Other Books with Reviews:</h2>
    </div>
  </body>
</html>
