<!doctype html>
<html>
  <head>
    <title>Session Words</title>
    {% load static %}
    <link rel = "stylesheet" href = "{% static 'words/style.css' %}">
  </head>
  <body>
    <form action = 'words/process' method = 'POST'>
      {% csrf_token %}
      <fieldset>
      <h1><legend = "Add">Add a new word: </legend>
      <input type = "text" name = "content" placeholder = "word"></input></h1>

      <div class = "form-group">
      <p><label for = "color">Choose a color: </label></p>
        <p><label><input type = "radio" name = "color" value = "Red">Red</label></p>
        <p><label><input type = "radio" name = "color" value = "Green">Green</label></p>
        <p><label><input type = "radio" name = "color" value = "Blue">Blue</label></p>
      </div>

      <p><input type = "checkbox" name = "show-big" value = "show-big">Show in BIG fonts!</p>
      <button type = "submit" value = "add">Add to Session</button>
    </form>
  </fieldset>
  <fieldset>
    <form action = "words/clear" method = 'POST'>
      {% csrf_token %}
      <button type = "submit" value = "clear">Clear Session</button>
    </form>
    {% if request.session.words %}
      {% for word in request.session.words %}
        <p><span style="color:{{ word.color }}" class="{{ word.big }}">{{ word.content }} </span> - added on {{ word.created_at }}</p>
      {% endfor %}
    {% endif %}
  </fieldset>
  </body>
</html>
